.contact-page .form-container {
  max-width: 400px;
  margin: 100px;
  padding: 50px;
  border: 1px solid #e5ca50;
  border-radius: 5px;
  background-color: #f5cb5c;
}
.contact-page {
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
  background-size: cover;
  padding: 10px;
}
.contact-page .title {
  color: #747474;
}
.contact-page .form-group {
  margin-bottom: 20px;
}

.contact-page .error {
  color: red;
}

.contact-page input,
.contact-page textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.contact-page button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact-page .contact-us-footer {
  display: flex;
  justify-content: space-around;

  background-color: #0000004f;
  padding: 10px;
  border-radius: 10px;
}
.contact-page .contact-us-footer a {
  text-decoration: none;
  color: var(--white);
}
@media screen and (max-width: 500px) {
  .contact-page .form-container {
    margin: 10px;
    height: 80vh;
  }
}
@media screen and (max-width: 550px) {
  .contact-page .contact-us-footer {
    text-align: center;
    flex-direction: column;
    gap: 10px;
  }
}
